@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

code {
  background-color: lightgray;
  color: #3b0764;
  padding-inline: 1rem;
}

li {
  color: black;
}

pre {
  background-color: lightgray;
}

/* Colours */
.black {
  color: #020617
}

.purple {
  color: #a855f7
}

.bg-dark-purple {
  background-color: #3b0764
}
